.main {
    position: relative;
    width: 850px;
    .playergrid {
        display: flex;
        justify-content: space-between;
    }

    .circle {
        border-radius: 50%;
        background-color: red;
        width: 200px;
        height: 200px;
        position: absolute;
        top: 325px;
        left: 50%;
        cursor: pointer;
        transform: translateX(-50%);

        div {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .outercircle {
        width: 250px;
        height: 250px;
        top: 300px;
        background-color: var(--background-orange-dark);
        cursor: unset;
    }
    
    .click {
        cursor: pointer;
    }

    .click:hover {
        filter: brightness(1.2);
    }
}